<?xml version='1.0' encoding='utf-8'?>
<widget id="am.tfllc.payments" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <feature name="CDVWebViewEngine">
        <param name="ios-package" value="CDVWebViewEngine" />
    </feature>
    <feature name="LaunchScreen">
        <param name="ios-package" value="CDVLaunchScreen" />
    </feature>
    <feature name="LocalStorage">
        <param name="ios-package" value="CDVLocalStorage" />
    </feature>
    <feature name="Console">
        <param name="ios-package" value="CDVLogger" />
        <param name="onload" value="true" />
    </feature>
    <feature name="HandleOpenUrl">
        <param name="ios-package" value="CDVHandleOpenURL" />
        <param name="onload" value="true" />
    </feature>
    <feature name="IntentAndNavigationFilter">
        <param name="ios-package" value="CDVIntentAndNavigationFilter" />
        <param name="onload" value="true" />
    </feature>
    <feature name="GestureHandler">
        <param name="ios-package" value="CDVGestureHandler" />
        <param name="onload" value="true" />
    </feature>
    <feature name="InAppBrowser">
        <param name="ios-package" value="CDVWKInAppBrowser" />
        <param name="onload" value="true" />
    </feature>
    <allow-navigation href="ionic://*" />
    <feature name="IonicWebView">
        <param name="ios-package" value="CDVWKWebViewEngine" />
    </feature>
    <name>ITFLLC Payments</name>
    <description>Приложение для оплаты коммунальных услуг в Армении</description>
    <author email="hello@itfllc.am" href="http://62.89.3.242:9000">TFLLC LLC</author>
    <content src="index.html" />
    <allow-navigation href="http://62.89.3.242:9000/*" />
    <allow-navigation href="https://62.89.3.242:9000/*" />
    <allow-navigation href="*" />
    <access origin="*" />
    <allow-intent href="*" />
    <edit-config file="*-Info.plist" mode="merge" target="NSAppTransportSecurity">
        <dict>
            <key>NSAllowsArbitraryLoads</key>
            <true />
        </dict>
    </edit-config>
    <icon height="180" src="res/icon/ios/icon.png" width="180" />
    <preference name="AllowInlineMediaPlayback" value="true" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="EnableViewportScale" value="false" />
    <preference name="MediaTypesRequiringUserActionForPlayback" value="none" />
    <preference name="SuppressesIncrementalRendering" value="false" />
    <preference name="SuppressesLongPressGesture" value="false" />
    <preference name="Suppresses3DTouchGesture" value="false" />
    <preference name="deployment-target" value="11.0" />
    <preference name="CordovaWebViewEngine" value="CDVWKWebViewEngine" />
    <preference name="Fullscreen" value="true" />
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="StatusBarStyle" value="default" />
    <preference name="WKWebViewOnly" value="true" />
</widget>
